<f:if condition="{f:count(subject:section.subjects)} > 1">
	<f:then>
		<fieldset class="pz2-fieldset-{sectionIndex} {section.id}">
			<legend>
				<f:form.checkbox name="pz2subject-{sectionIndex}"
								value="<f:for each='{section.queries}' as='query' key='queryIndex'><f:if condition='{queryIndex} != 0'>,</f:if>{query}</f:for>"
								checked="{section.selected}"
								onclick="groupCheckboxChanged(this);"
								id="neuerwerbungen-group-checkbox-{sectionIndex}"/>
				<label for="neuerwerbungen-group-checkbox-{sectionIndex}">
					{section.name}
				</label>
			</legend>
	</f:then>
	<f:else>
		<div class="pz2-fieldset-replacement">
	</f:else>
</f:if>
	<ul>
		<f:for each="{section.subjects}" as="sectionItem" key="itemIndex">
			<li class="{f:if(condition:sectionItem.inline, then:'inline')} {f:if(condition:sectionItem.indent, then:'indent')}">
				<f:if condition="{f:count(subject:sectionItem.subjects)} == 0">
					<f:then>
						<f:if condition="{sectionItem.break} == 1"><br></f:if>
						<f:form.checkbox name="pz2subject-{sectionIndex}-{itemIndex}"
								value="<f:for each='{sectionItem.queries}' as='query' iteration='queryIterator' key='queryIndex'>{query}{f:if(condition:queryIterator.isLast, then:'', else:',')}</f:for>"
								checked="{sectionItem.selected}"
								onclick="checkboxChanged(this);"
								id="neuerwerbungen-group-checkbox-{sectionIndex}-{itemIndex}"/>
						<label for="neuerwerbungen-group-checkbox-{sectionIndex}-{itemIndex}">
							{sectionItem.name}
						</label>
					</f:then>
					<f:else>
						<f:render partial="neuerwerbungen-form-fieldset"
								  arguments="{section: sectionItem
												sectionIndex: '{sectionIndex}-{itemIndex}'}"/>
					</f:else>
				</f:if>
			</li>
		</f:for>
	</ul>
<f:if condition="{f:count(subject:section.subjects)} > 1">
	<f:then>
		</fieldset>
	</f:then>
	<f:else>
		</div>
	</f:else>
</f:if>